*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: absolute;
    display: flex;
    border: 2px solid black;
    width: 500px;
    height: 350px;
    left: 100px;
    top: 100px;
    border-radius: 10px;
    background-color: rgb(243, 221, 242);
}
.wrapper{
    background-color: rgb(240, 183, 238);
    height: 1000px;
}
.content{
    margin: 10px;
    padding: 10px;
}
h1,h2{
    font-family: 'Itim', cursive;
}
h2{
    color: grey;
}
.box{
    margin-top: 10px;
    margin-left: 20px;
    height: 35px;
    width: 160px;
    color: aliceblue;
    border-radius: 15px;
    background-color: green;
    padding-top: 8px;
    justify-content: center;
    text-align: center;
}
#cost{
    color: green;
    font-size: 30px;
}
#cost1{
    color: green;
    font-size: 30px;
}
.container1{
    position: absolute;
    display: flex;
    border: 2px solid black;
    width: 500px;
    height: 350px;
    left: 800px;
    top: 100px;
    border-radius: 10px;
    background-color: rgb(243, 221, 242);
}
